#container {
  margin: auto;
  width: 800px;
  font-family: "Lucida Grande";
  font-size: 13px; }
  #container #header {
    font-size: 11px;
    background-color: #cd4940;
    color: white;
    padding: 8px; }
    #container #header a, #container #header a:hover {
      color: white;
      text-decoration: none; }
    #container #header .session {
      float: right; }
  #container #logo {
    text-align: center; }
  #container ol#my-hearts {
    list-style: none; }
    #container ol#my-hearts li .handle {
      cursor: move;
      font-size: 150%; }
