- title @user ? "#{@user.username}'s Hearts" : "Global Hearts"

%p= link_to "add heart", new_user_heart_path(current_user) if logged_in? && @user==current_user
%table
  %tr
    %th Name
    %th Public Qty
  - for heart in @hearts
    %tr
      %td= link_to heart.name, @user ? user_heart_path(@user, heart) : heart_path(heart)
      %td.number= h heart.items_count

